# String

In [1]:
name = "vivek singh"

In [19]:
name.capitalize()

'Vivek singh'

In [11]:
name.count("i")

2

In [13]:
name.endswith("h")

True

In [20]:
name.index("i")

1

In [22]:
name.upper()

'VIVEK SINGH'

In [29]:
name.lstrip("viv")

'ek singh'

In [31]:
name.islower()

True

# tuple

In [52]:
tup = (1,3,6,8,8,8, " vivek " , "singh")

In [54]:
print(tup)

(1, 3, 6, 8, 8, 8, ' vivek ', 'singh')

In [56]:
tup.count(8)

3

In [61]:
tup.index(8)

3

In [64]:
tup.index(' vivek ')

6

In [66]:
tup.index("singh")

7

# list

In [81]:
lst_1 = [2,8,6,323,323,"vivek" , "vivmost"]

In [82]:
lst_1

[2, 8, 6, 323, 323, 'vivek', 'vivmost']

In [85]:
lst_1.append(121)

In [87]:
lst_1

[2, 8, 6, 323, 323, 'vivek', 'vivmost', 121]

In [88]:
lst_1.reverse()

In [90]:
lst_1

[121, 'vivmost', 'vivek', 323, 323, 6, 8, 2]

In [92]:
lst_1

[121, 'vivmost', 'vivek', 323, 323, 6, 8, 2]

In [93]:
lst_1.pop(-1)

2

In [94]:
lst_1.pop(0)

121

In [95]:
lst_1

['vivmost', 'vivek', 323, 323, 6, 8]

In [98]:
lst_1.pop(0)

'vivmost'

In [99]:
lst_1.pop(0)

'vivek'

In [100]:
lst_1.sort()

In [101]:
lst_1

[6, 8, 323, 323]

In [102]:
lst_1.count(323)

2

In [103]:
lst_1.clear
lst_1

[6, 8, 323, 323]

In [104]:
lst_1.clear()
lst_1

[]

# set

In [105]:
x = {2,5,6,7,9," vivmost"}

In [108]:
x

{' vivmost', 2, 4, 5, 6, 7, 9}

In [110]:
x.pop()

' vivmost'

In [111]:
x.add(9879)

In [112]:
x

{2, 4, 5, 6, 7, 9, 9879}

In [114]:
x.update()

In [115]:
x

{2, 4, 5, 6, 7, 9, 9879}

In [117]:
x.update(0,67)

TypeError: 'int' object is not iterable

In [118]:
y = {3,2,8,9,0, "updated"}
y

{0, 2, 3, 8, 9, 'updated'}

In [119]:
x.update(y)

In [120]:
x

{0, 2, 3, 4, 5, 6, 7, 8, 9, 9879, 'updated'}

In [121]:
y

{0, 2, 3, 8, 9, 'updated'}

In [122]:
new = x.union(y)

In [123]:
new

{0, 2, 3, 4, 5, 6, 7, 8, 9, 9879, 'updated'}

In [124]:
z ={"newly" , "added"}

In [125]:
new1 = y.union(new)

In [126]:
new1

{0, 2, 3, 4, 5, 6, 7, 8, 9, 9879, 'updated'}

In [127]:
new2 = y.intersection(x)

In [128]:
new2

{0, 2, 3, 8, 9, 'updated'}

In [130]:
new3 = x.issubset(new1)

In [131]:
new3

True

In [135]:
new2.clear()

In [136]:
new2

set()

# dictionary

In [143]:
dict1 = {
    "name" : "vivek",
    "surname" : "singh",
    "learning" : "python",
    "batch" : 5,
}

In [145]:
dict1

{'name': 'vivek', 'surname': 'singh', 'learning': 'python', 'batch': 5}

In [153]:
dict1.get("name")

'vivek'

In [156]:
dict1.get("batch")

5

In [160]:
dict1.keys()

dict_keys(['name', 'surname', 'learning', 'batch'])

In [162]:
dict1.values()

dict_values(['vivek', 'singh', 'python', 5])

In [167]:
dict1.pop("batch")

5

In [168]:
dict1

{'name': 'vivek', 'surname': 'singh', 'learning': 'python'}

In [173]:
dict1.popitem()

('learning', 'python')

In [175]:
dict1.update({"name" : "thakur"})

In [176]:
dict1

{'name': 'thakur', 'surname': 'singh'}

In [177]:
dict1.clear()

In [178]:
dict1

{}