In [12]:
lst = [1,3,99,4,6,98,99,76,5]

In [13]:
def getPowerOf(num):
    return num**2

In [14]:
getPowerOf(5)

25

In [15]:
newlst=[]
for i in lst:
    temp = getPowerOf(i)
    newlst.append(temp)

In [16]:
newlst

[1, 9, 9801, 16, 36, 9604, 9801, 5776, 25]

In [19]:
newMapList = map(getPowerOf, lst)

In [22]:
list(newMapList)

[1, 9, 9801, 16, 36, 9604, 9801, 5776, 25]

In [24]:
def newFunc(num):
    if(num % 2== 0):
        return True 
    else:
        return False

In [35]:
newlst2 = []
for i in lst:
    if newFunc(i) == True:
        newlst2.append(i)

In [51]:
newlst2

[4, 6, 98, 76]

In [55]:
filterLst = filter(newFunc , lst)

In [56]:
list(filterLst)

[4, 6, 98, 76]

In [64]:
getPower2 = lambda number: number**3

In [67]:
getPower2(3)

27

In [68]:
lst2 =[1,2,3,4,5,6,777,8,89,87,445,6645,66]

In [76]:
newSqlst = list(map(lambda num: num**4 , lst2))

In [77]:
newSqlst

[1,
 16,
 81,
 256,
 625,
 1296,
 364488705441,
 4096,
 62742241,
 57289761,
 39213900625,
 1949754543800625,
 18974736]

# assignment

# Q1

In [156]:
     
def primeNO(num):
    if i in lst:
        if i%2 == 0:
            return False
        else:
            return True

In [157]:
list(primeNo)

TypeError: prime() takes 0 positional arguments but 1 was given

In [161]:
lst

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [177]:
for num in range(1,201):  
   if num > 1:  
       for i in range(2,num):  
           if (num % i) == 0:  
               break  
       else:  
           print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199